body{
    font-family: 'Roboto', sans-serif;
}
img {
    margin-left: 500px;
    margin-right: 500px;
}

h3 {
    text-align: center;
}

h1 {
    text-align: center;
}

.songs{
    margin-left: 470px;
    margin-right: 470px;
}

audio {
    float: inherit
}
